[user]
	name = Kenneth Powers
	email = ken@kenpowers.net
[color]
	ui = auto
[alias]
	branches = branch -avv
[push]
	default = simple
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
