*
!.gitignore
!starship.toml
!alacritty
!alacritty/**
!ghostty
!ghostty/**
!herdr
!herdr/**
!karabiner
!karabiner/**
!kitty
!kitty/**
!nvim
!nvim/**
!navi
!navi/**
!skhd
!skhd/**
!yabai
!yabai/**
!zellij
!zellij/**
